<!-- partials/header.html -->
<header class="topbar" role="banner">
    <button id="hamburgerBtn" class="icon-btn" aria-label="Menu" aria-controls="sidemenu"
        aria-expanded="false">☰</button>
    <div class="brand"><strong>To-Do &amp; Notes Jo</strong></div>
    <nav class="header-icons" id="quickLinks" aria-label="Snelkoppelingen"></nav>
</header>

<!-- Uitklapbare zijmenu -->
<aside id="sidemenu" class="sidemenu" aria-hidden="true">
    <nav class="sidemenu-section">
        <h4>Links Zone Rand</h4>
        <ul>
            <li><a href="https://zonerand.be" data-newtab>Zone Rand</a></li>
            <li><a href="https://transparand.be" data-newtab>Transparand</a></li>
            <li><a href="https://www.brandweerzrr.be/modus-operandi" data-newtab>Modus operandi</a></li>
            <li><a href="https://vtokontich.be" data-newtab>Site VTO Kontich</a></li>
            <li><a href="#" data-newtab>Loonbrieven</a></li>
        </ul>
    </nav>

    <nav class="sidemenu-section">
        <h4>OPTECH</h4>
        <ul>
            <li><a href="https://trello.com" data-newtab>Trello</a></li>
            <li><a href="https://www.teamviewer.com" data-newtab>Teamviewer</a></li>
            <li><a href="#" data-newtab>Modutech</a></li>
        </ul>
    </nav>

    <nav class="sidemenu-section">
        <h4>Interessante links</h4>
        <ul>
            <li><a href="https://www.brandweerkennisnet.nl" data-newtab>kennisbank brandweer</a></li>
            <li><a href="https://kiosk.id.nl/magazines" data-newtab>tijdschrift Computer</a></li>
        </ul>
    </nav>

    <nav class="sidemenu-section">
        <h4>Apps</h4>
        <ul>
            <li><a href="https://www.appsheet.com/start/504ba865-3785-4c6b-a33c-9d5edf2d3962" data-newtab>Optech</a>
            </li>
            <li><a href="https://www.appsheet.com/start/218e57f1-032f-4480-8b55-b2a38e944fef" data-newtab>Magazijn Regio
                    Zuid</a></li>
        </ul>
    </nav>
</aside>